<!DOCTYPE html>
<html>
<head>
  <title>eBay Data</title>
</head>
<style>
  #ebaySign{
    padding: 10px 10px 0 30px;
    width: 10%;
    height: 10%;
    max-height: 90px;
  }
  #navbar{
    width:100%;
    min-height: 100px;
    background-color: #62738e;
    left: -10px;
    right: -10px;
    top: 0;
    position: fixed;
    box-shadow: 0 4px 2px -2px #292929;
  }
  #main {
    padding: 100px 100px 0 50px;
  }
  body{
    background-color: #e8e8e8;
  }
</style>
<body>
  <div id="navbar">
    <a href="home.html"><img id="ebaySign" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/1200px-EBay_logo.svg.png" title="ebay logo"></a>
  </div>
  <div id="main">
    <h2>I did some scraping on eBay for wrist watches, they're an interest of mine and I have a small collection; A collection that I wish to improve.</h2>
    {{ Correlation }}
    {{ Ratio }}
  </div>
</body>
</html>
